.first{
    width: 80%;
    height: 60vh;
    background-color: black;
    color: white;
    font-size: clamp( 29.4px, 5vw, 50px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.second{
    width: fit-content;
}